.center-block{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#meetblk{
    text-align: center;
    padding-top: 2%;
}
#finalmess{
    text-align: center;
    font-weight: bold;
}
.card{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.card-title{
    text-align:center;
}
.clientname{
    margin-bottom: 5%;
}
.preGrd{
    margin-bottom: 5%;
}
.midGrd{
    margin-bottom: 5%;
}
.finGrd{
    margin-bottom: 5%;
}
