<div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Skills
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <strong>Hobbies and Skills</strong>
          <ul>
            <li>UI/UX Designing</li>
            <li>Playing Computer & Mobile Games</li>
            <li>Avid Geography, Geology, and Cartography fan</li>
            <li>Watching Videos on YouTube</li>
            <li>Listening to Music</li>
            <li>Coding simple exercises using programming languages such as Python, C++, C#, and others</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
