
<div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Contacts
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <p>You can contact me through one of the following: </p>
          <ul>
              <li><strong>Contact Number:</strong> 09289083377</li>
              <li><strong>Email Address:</strong> kojmallari@gmail.com</li>
              <li><strong>Facebook Account:</strong> Kenji Mallari</li>
          </ul>
        </div>
      </div>
    </div>
  </div>