
<div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Portfolio
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <strong>List of Works</strong>
          <ul>
              <li>Eren's Darling Visuals Website - Role: Web Developer</li>
              <li>Eren's Darling Visuals Management System - Role: Database Manager</li>
              <li>HAU Library Management System - Role: Web Developer</li>
          </ul>
        </div>
      </div>
    </div>
  </div>